<template>
  <div class="todolist">
    <h1>This is a to do list</h1>
    <TodoForm :owners="owners" @addTodo="addTodo"/>
    <p>Il y a {{todos.length}} tâche(s)</p>
    <button @click="deleteAllTodo(todo)">Supprimer toutes les tâches</button>
    <CardView v-for="todo in todos" :key="todo"
      :todo="todo"
      @deleteTodo="deleteTodo"
      @editTodo="editTodo"
    />
    <p v-for="owner in owners" :key="owner">  {{owner.name}} a {{owner.tasks}}
    tâches attribuées pour un total de {{ owner.hours }} heures</p>
  </div>
</template>
<script>
import TodoForm from '@/components/FormView.vue';
import CardView from '@/components/CardView.vue';

export default {
  components: {
    TodoForm,
    CardView,
  },
  data() {
    return {
      checked: false,
      todos: [{
        title: 'test',
        hours: 2,
        who: null,
      }],
      owners: [
        {
          name: 'Maurice',
          tasks: 3,
          hours: 8,
        },
        {
          name: 'Kévin',
          tasks: 0,
          hours: 0,
        },
        {
          name: 'Titouan',
          tasks: 0,
          hours: 0,
        },
      ],
    };
  },
  methods: {
    addTodo(oneTodo) {
      this.todos.push(oneTodo);
      for (let index = 0; index < this.owners.length; index += 1) {
        const element = this.owners[index];
        if (oneTodo.who.name === element.name) {
          element.tasks += 1;
          element.hours = Number(element.hours) + Number(oneTodo.hours);
        }
      }
    },
    deleteTodo(todo) {
      // décrémenter owners.tasks & owners.hours
      this.todos = this.todos.filter((i) => i !== todo);
    },
    editTodo() {
      console.log('edit');
    },
    deleteAllTodo() {
      this.todos = [];
    },
  },
};
</script>
