<template>
    <div>
        <ul>
            <li>
                <label for="checkbox">
                <input type="checkbox" id="checkbox" v-model="checked"/>
                </label>
                {{ todo.title }}
                {{ todo.hours }}
                {{ todo.who.name }}
                <button @click="$emit('deleteTodo', todo)">Delete</button>
                <button @click="$emit('editTodo', todo)">Edit</button>
            </li>
        </ul>
    </div>
</template>
<script>
export default {
  name: 'CardView',
  props: ['todo'],
};
</script>
