<template>
    <div>
        <label for="title">
            <input v-model="oneTodo.title" id="title" placeholder="Nouvelle tâche" />
        </label>
        <label for="hours">
            <input id="hours"
            type="number"
            min="0"
            v-model="oneTodo.hours"
            placeholder="Temps attribué" />
        </label>
        <label for="who">
            <select id="who" v-model="oneTodo.who">
                <option disabled value="">Please select one</option>
                <option v-for="owner in owners" :key="owner" :value="owner">{{owner.name}}</option>
            </select>
        </label>
        <button @click.prevent="checkForm">Ajouter</button>
        <div v-for="error in errors" :key="error">
            {{error}}
        </div>
    </div>
</template>

<script>
export default {
  name: 'TodoForm',
  props: ['owners'],
  data() {
    return {
      oneTodo: {
        title: '',
        hours: 0,
        who: null,
      },
      errors: [],
    };
  },
  methods: {
    checkForm() {
      this.errors = [];
      if (this.oneTodo.title === '') {
        this.errors.push('Titre requis');
      }
      if (this.oneTodo.hours <= 0) {
        this.errors.push('Nombre d\'heure minimum requis');
      }
      if (!this.oneTodo.who) {
        this.errors.push('Cette tâche doit être attribué à quelqu\'un');
      }
      if (this.oneTodo.who.tasks >= 3
        || (Number(this.oneTodo.who.hours) + Number(this.oneTodo.hours)) >= 10) {
        this.errors.push(`${this.oneTodo.who.name} est trop occupé`);
      } else if (this.oneTodo.title !== '' && this.oneTodo.hours > 0 && this.oneTodo.who) {
        this.$emit('addTodo', this.oneTodo);
      }

      this.oneTodo = { title: '', hours: 0, who: '' };
    },
  },
};
</script>
